.container__categoerie{
    .row__table{
        position: relative;
        width: 100%;
        .__header{
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
        }
        .form__categorie{  
            width: 100%;  
            min-height:calc(50vh);       
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            margin-top: auto;            
            z-index: 3;
            form{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: rgb(224, 217, 217);
                height: 40vh;
                border-radius: 10px;
                box-shadow: 3px 3px 3px 3px gray;
                .header{
                    span{
                        font-size: calc(20px + 0.3vw);
                    }
                }
                .form-group{
                    width: 90%;
                }
                .button{
                    display: flex;
                    gap: 10%;
                    margin-top: .7rem;
                    width: 90%;
                    button{
                        width: 45%;
                    }
                    a{
                        width: 45%;                        
                    }
                }
            }
        }
    }
}